@import "./variables.scss";

body{
  width: 100%;
  height: 100vh;
  padding: 0 0;
  margin: 0 0 0 0;
  overflow: hidden;
}

.mainBkg{
  background-color: $white-color-bg;
}

.route{
  border-color: white !important;
}

.asideContent{
  min-width: 223px;
}

.content{
  background-color: white;
  border-color: $primary-color;
  width: calc(100% - 223px);
  height: 100vh;
  left: 223px;
}

a{
  cursor: pointer !important;
  text-decoration: none !important;
}

.bar {
  width: 5px;
  height: 100vh;
  background-color: $blue-light-color-bg;
  color: $blue-light-color-bg;
}
