@import "bootstrap/scss/functions.scss";
@import "bootstrap/scss/variables.scss";
@import "bootstrap/scss/mixins.scss";
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap/scss/bootstrap-grid.scss";


// COLOR FROM SELECTED ITEMS
//backgrounds
$primary-color: rgba(11,23,38,255);
$secondary-color-bg: rgba(17,29,64,255);
$blue-color-bg: rgb(3, 155, 155);
$green-hover-color-bg: rgb(2, 183, 183);
$blue-light-color-bg: rgba(19,242,242,255);
$white-color-bg: rgba(242,242,242,255);

$shadow-default:0 3px 6px rgba(0,0,0,0.16);


// Links

//text
$font-size-sm: .85em;



//Global
$border-radius-type01: 11px;
$border-radius-type02: 13px;
$border-radius-type03: 18px;
$border-radius-type04: 50px;


//Login
$loginContainer-bk: rgba(242, 242, 242, 255);
$border-color-login: rgb(255, 255, 255);