@use "../variables.scss"
//@use "../../assets/svg/search.svg"


.input
  background: url("../../assets/svg/search.svg") no-repeat 10px 7px
  height: 40px
  width: 250px
  text-align: right
  border-color: transparent
  border-radius: variables.$border-radius-type04 !important
  box-shadow: 1px 5px rgb(183, 179, 179)
  justify-content: center
  padding-right: 15px


.input:focus
  border-color: rgba(196, 196, 196, 0.35)
  border: none !important

.buttonSearch
  background: transparent
  margin-left: 10px
  border: none
